/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Mako&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mako&family=Oooh+Baby&family=Oswald:wght@200&family=Shadows+Into+Light&display=swap');


/*Asterisk wildcard to override the default styles by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Project Styles*/
    color: saddlebrown;
    font-family: "Mako";
}

a:link {
    color: saddlebrown;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: saddlebrown;
}

a:hover {
    text-decoration: none;
}




/*Header*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: lightpink;
    padding: 0 .7rem;
    position: fixed;
    width: 100%;
    height: 80px;
}

#logo-button {
    font-family: "Oooh Baby";
    font-size: larger;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:bisque;
    color:saddlebrown;
    border: none;
}

#lbutton {
    padding-top: 2px;
    display: none;
}

#logo {
    font-family: "Oooh Baby";
    font-size: 3vh;
    display: flex;
    justify-content: start;
}

/*Navnar styles with dropdown toggle*/

#navigation {
    display: none;
    background-color: lightpink;
    width:20vw;
    margin-top: 20px;
    
}

nav a {
    font-size: larger;
    padding-right: 10px;
}

#nav-toggle:checked~nav {position:absolute;
    display: block;
}

#nav-toggle {
    display: none;
}

#burger-icon {
    font-size: 4vh;
}


/*Dropdown Menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: lightpink;
    padding: 5px;
    font-size: 10px;
}

.dropdown-content a:hover {
    background-color:lightslategrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Main*/
main {

    background-color: lightgrey;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-direction: column;
}

/*Background pic*/

.background-image {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.cake-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#welcome {
    color: saddlebrown;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    padding: 10px;
    font-weight: bolder;
    font-size: 35px;
}

/*Welcome Button*/

#welcome-button {
    background-color: lightpink;
    border: none;
    color: saddlebrown;
    font-size: 30px;
    font-weight: bold;

}

#wbutton {
    position: absolute;
    border-radius: 50%;
    background-color: lightpink;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}


/*Beige Circle*/

#background {
    position: absolute;
    z-index: 0;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 228, 196, .7);
    border-radius: 50%;
    right: 50vw;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-content: center;

}

h1 {
    font-family: "Oooh Baby";
    padding-top: 7vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*Gallery Pictures*/



.all-pics {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
    
}

/*Container for every pic*/
.gallery-pics {
    width: 150px;
    height: 200px;
    overflow: hidden;
    margin: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.gallery-pics-caption {
    width: 150px;
    height: 70px;
    font-size: 12px;
    text-align: justify;
}

/*Container for pic and caption*/
.img {display: flex;
justify-content: center;
align-items: center;
flex-direction: column;}

.display-none {
    display: none;
}

/*Images*/
.cake-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Contact*/
#contact-main {padding-top: 100px;
    width:80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
align-items: center;}

#details {
    padding: 20px;}
#form {padding: 20px;
    display: flex;
    justify-content: center;
    width:100%;
    padding:20px;
    background-color: lightpink;}
#form input {width:100%;
    display: flex; 
flex-direction: column;
justify-content: center;
}
#message {
    height:100px}
    #map {padding-top: 20px;}


/*Footer*/
footer {
    background-color: bisque;
    height: 50px;
    display: flex;
    justify-content: end;
    padding-right: 10px;

}

/*Social Media Links*/
.social-media {
    font-size: 40px;
    display: flex;
    padding-right: 10px;
    padding-top: 5px;
    flex-grow: 1;
    justify-content: center;

}

/*Media queries tablets and larger (768px and larger)*/
@media screen and (min-width:768px){

    /*Header*/
    header {justify-content: space-between;}
    #navigation {
        display:block;
        
        
}
#navigation-bar {position:relative}
#nav-toggle {display: none;}
#burger-icon {display: none;}
#lbutton {display: block;}
#contact-main {padding-top: 100px;
   
    display: flex;
flex-direction: row;

}
#form {background-color:lightgrey;
    padding: 10px;
    width: 100%; 
align-self: flex-end;}
#map{align-self: flex-end;
    width: 100%;}
#kg-pic {
    align-self: flex-end;
    padding: 10px;}

    #details {padding: 0px;}

}

