/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Mako&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mako&family=Oooh+Baby&family=Oswald:wght@200&family=Shadows+Into+Light&display=swap');


/*Asterisk wildcard to override the default styles by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Project Styles*/
    color: saddlebrown;
    font-family: "Mako";
}

a:link {color: saddlebrown;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}





/*Header*/
header {
    background-color: lightpink;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    height: 80px;
}

#logo {
    font-family: "Mako";
    font-size: 30px;
    display: flex;
    justify-content: start;
}

#navigation {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    background-color:lightpink;

}



/*Dropdown Menu*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: lightpink;
  }

  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}

/*Main*/
main {
    background-image: url("../images/sc2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: lightgrey;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}


/*Welcome Text*/
#welcome {
    color: saddlebrown;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    padding: 10px;
}

/*Background Rectangular behind the text*/

#background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    background-color: rgba(255, 228, 196, .7);



}

#dropdown-menu {
    display: none;
}

/*Footer*/
footer {
    background-color: bisque;
    height: 20px;
    display: flex;
    justify-content: end;
    padding-right: 10px;

}

/*Social Media Links*/
.social-media {
    display: flex;
    padding-right: 10px;
    padding-top: 5px;

}